
/node_modules/

.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

.npm/

*.vsix

bun.lock

/dist/
/extension/dist/
/out/
/build/

*.tsbuildinfo
/coverage/
/.nyc_output/

/mocha.opts

.vscode/

.vscode-test/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

package-lock.json

pnpm-lock.yaml
shrinkwrap.yaml

.tmp/
temp/
